.weather-week_card {
  width: 120px;
  height: 177px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--card-bg);
}

.weather-week_card > img {
  width: 56px;
  height: 62px;
}
.weather-temp {
  width: inherit;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.8rem;
}

.weather-temp_min {
  color: var(--card-light-text-color);
}
