:root {
  --card-text-color: #e7e7eb;
  --card-light-text-color: rgba(160, 159, 177, 1);
  --card-bg: rgba(30, 33, 58, 1);
  --dark-bg: rgba(16, 14, 29, 1);
  --search-bg: #6e707a;
  --search: rgba(60, 71, 233, 1);
  --font: "Raleway", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font);
  background-color: var(--card-bg);
}
.weather-full {
  display: grid;
  background: var(--dark-bg);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  justify-items: stretch;
  color: var(--card-text-color);
}